<div class="user-details">
  <h1>Intro</h1>
  <p>{{ site.user_description }}</p>
</div>
<h1>Contents</h1>
<!-- Navigation -->
    <div id="navigation">
        <ul>
            <li><a href="#intro">Introduction</a></li>
            <li><a href="#division1">Teaching Experience</a></li>
            <li><a href="#division2">Research Experience and Publications</a></li>
            <li><a href="#division3">Reports and Series Stuff</a></li>
        </ul>
    </div>

    <!-- Introductory Content -->
    <div id="intro">
        <h1>Welcome to My blog</h1>
        <p>This is blog contains a pernsal introuction of my experience and useful content that may be used for your stuides. If you have any comments on the avabible content, please feel free to contact me through my email. </p>
    </div>

    <!-- Division 1 -->
    <div class="section" id="division1">
        <h1>Teaching Experience</h1>

        <!-- Subdivision 1 -->
        <div class="subdivision" id="subdivision1">
            <h3>Partical Differential Equations and Complex analysis</h3>
            <p>Campus: University of Science and Technology at Zewail City</p>
            <p>Year: 2023/2024</p>
            <p> <table>
                <thead>
                    <tr>
                        <th>Tutorial</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Gamma & Beta Functions</td>
                        <td><a href="Files/PDE_Tutorials/Tutorial_1__Gamma___Beta_Functions.pdf" target="_blank">Read Tutorial</a></td>
                    </tr>
                    <tr>
                        <td>Legendre Polynomials</td>
                        <td><a href="Files/PDE_Tutorials/Tutorial_2__Legendre_Polynomials.pdf" target="_blank">Read Tutorial</a></td>
                    </tr>
                    <tr>
                        <td>Bessel and Related Functions</td>
                        <td><a href="Files/PDE_Tutorials/Tutorial_3__Bessel_and_related_functions.pdf" target="_blank">Read Tutorial</a></td>
                    </tr>
                    <tr>
                        <td>Sturm Liouville, Generalized Fourier Series & Heat Equation</td>
                        <td><a href="Files/PDE_Tutorials/Tutorial_4__Sturm_Liouville__Generalized_Fourier_Series___Heat_Equation.pdf" target="_blank">Read Tutorial</a></td>
                    </tr>
                    <tr>
                        <td>Laplace Equation, Wave Equation & Non homogenous PDEs</td>
                        <td><a href="Files/PDE_Tutorials/Tutorial_5__Laplace_Equation__Wave_Equation___Non_homogenous_PDEs (1).pdf" target="_blank">Read Tutorial</a></td>
                    </tr>
                    <tr>
                        <td>PDEs in Higher Diemsnions & Unbounded Domains</td>
                        <td><a href="Files/PDE_Tutorials/Tutorial 6_PDE_Higher_Diemsnions_Unbounded_Domains.pdf" target="_blank">Read Tutorial</a></td>
                    </tr>
                    <tr>
                        <td>Complex analysis and Evalution of Real Integrals</td>
                        <td><a href="Files/PDE_Tutorials/Tutorial_7__Complex_Tutorial.pdf" target="_blank">Read Tutorial</a></td>
                    </tr>
                </tbody>
            </table>  </p>
        </div>

        <!-- Subdivision 2 -->
        <div class="subdivision" id="subdivision2">
            <h3>Discrete Mathematics</h3>
            <p>Campus: University of Science and Technology at Zewail City</p>
            <p>Year: 2023/2024</p>
             <p> <table>
                <thead>
                    <tr>
                        <th>Tutorial</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Logic and Logical Operators</td>
                        <td><a href="Files/Discrete_Tutorials/Sketch Solution 1.pdf" target="_blank">Read Tutorial</a></td>
                    </tr>
                    <tr>
                        <td>Quantifiers</td>
                        <td><a href="Files/Discrete_Tutorials/Sketch Solution 2.pdf" target="_blank">Read Tutorial</a></td>
                    </tr>
                    <tr>
                        <td>Proofs and Rules of Inference</td>
                        <td><a href="Files/Discrete_Tutorials/Sketch Solution 3.pdf" target="_blank">Read Tutorial</a>, <a href="Files/Discrete_Tutorials/Tutorial_3.pdf" target="_blank">Questions</a></td>
                    </tr>
                    <tr>
                        <td>Number Theory I</td>
                        <td><a href="Files/Discrete_Tutorials/Tutorial 7.pdf" target="_blank">Read Tutorial</a></td>
                    </tr>
                    <tr>
                        <td>Number Theory II</td>
                        <td><a href="Files/Discrete_Tutorials/Tutorial 8 Number Theory II(1).pdf" target="_blank">Read Tutorial</a></td>
                    </tr>
                    <tr>
                        <td>Congurance Relations and Partial Ordering</td>
                        <td><a href="Files/Discrete_Tutorials/Part III.pdf" target="_blank">Read Tutorial</a></td>
                    </tr>
                </tbody>
            </table>  </p>
        </div>
    </div>

    <!-- Division 2 -->
    <div class="section" id="division2" background-color: #f2f2f2;>
        <h2>Research Experience and Publications</h2>
        <p>To be added ISA. </p>
    </div>

    <!-- Division 3 -->
    <div class="section" id="division3">
        <h2>Reports and Series stuff</h2>
        <p>This section contains PDFs and Reports I have done through my undergraduate and graduate stuides</p>
        <h3>Documents</h3>
            <!-- Scientific Tutorials Table -->
            <table>
                <thead>
                    <tr>
                        <th>Tutorial</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2D Topological Field Theories and Universal Construction</td>
                        <td><a href="Files/Reports/TQFT_Thesis.pdf" target="_blank">Read Tutorial</a></td>
                    </tr>
                    <tr>
                        <td>Spherically symmetric solutions in modified Teleparallel gravity</td>
                        <td><a href="Files/Reports/Telleparallel Gravity.pdf" target="_blank">Read Tutorial</a></td>
                    </tr>
                    <tr>
                        <td>Solitary Waves and the Korteweg de-Vries (KdV) Equation</td>
                        <td><a href="Files/Reports/kdv.pdf">Read Tutorial</a></td>
                    </tr>
                    <tr>
                        <td>On Elementary Derivation of Schwarzschild and Kerr Metrics</td>
                        <td><a href="Files/Reports/EE-symmetries.pdf">Read Tutorial</a></td>
                    </tr>
                    <tr>
                        <td>Numerical methods in theory of topological solitons</td>
                        <td><a href="Files/Reports/solitons.pdf" target="_blank">Read Tutorial</a></td>
                    </tr>
                    <tr>
                        <td> Analysis and interactive visualization of neutrino event topologies registered in the OPERA experiment</td>
                        <td><a href="Files/Reports/opera.pdf" target="_blank">Read Tutorial</a></td>
                    </tr>
                </tbody>
            </table>
    </div>
